/* Elements */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('bg.png');
    font-family: 'Antic Slab', sans-serif;
    color: black;
    margin: 0 0 150px;
    font-size: 1.8em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

h1 {
    margin-bottom: 10px;
    font-size: 1.9em;
}

ol {
    margin-left: 4em;
}
/* End Elements */

/* Media */

@media screen and (min-width: 914px) {
    .container {
        width: 856px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1000px;
    }
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}

/* End Media */
.title {
    font-size: 2em;
    font-family: 'Lato';
    color:white;
    background-color:#ff8185;
    text-align: center;
    padding-bottom: 20px;
}
.title a {
    color: white;
}

.title ul {
    position: absolute;
    top: 1px;
    right: 2px;
    text-align: center;
    margin-right: 1em;
    font-size: 0.3em;
}

.post a {
    color: rgb(200,100,100);
    text-decoration: none;
}

.post p {
    padding-left: 0.5em;
}

.footer {
    text-align: center;
    background-color: rgba(223,224,222,0.3);
    padding: 1em;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.footer ul {
    list-style: none;
}

.footer ul a {
    text-decoration: none;
}

.footer ul a:hover {
    color:  #ff8281;
}

.footer li {
    display:inline;
}

.box-list {
    padding: 0.6em;
    display: block;
    background-color: rgba(223,224,222,0.3);
    display: inline-block;
}

a.box-list {
    color: white;
    font-style: normal;
}
a.box-list :hover {
    background-color: rgba(197, 100, 103, 0.420);
}

/* Blog Posts */
.post-body {
    line-height: 120%;
}

.post-body code {
    font-family: 'Inconsolata', sans-serif;
    background-color: rgba(240,240,240,0.4);
}
.post-body pre code {
    font-family: 'Inconsolata', sans-serif;
    background-color: transparent;
}

.post-body pre {
    overflow: auto;
    background-color: rgba(240,240,240,0.4);
}

.post-body strong {
    font-weight: bolder;
}

.post-body h1:before,h2:before,h3:before {
    content:'\25CF';
    margin-right: 0.2em;
    text-shadow: none;
}

.post-body h1,h2,h3 {
    text-decoration: none;
    text-shadow:1px 1px 2px rgba(10,20,10,0.4);
}

.post-body h1 {
    text-align: left;
    font-size: 2em;
}

.post-heading {
    color :#e47376;
}

.post-footer {
    font-size: 0.8em;
}