<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$title$</title>
<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" rel="stylesheet" type="text/css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Bitter:400'
rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro'
rel='stylesheet' type='text/css'>

<link href="/css/default.css" rel="stylesheet" type="text/css">
<link href="/css/foghorn.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="title">$partial("templates/header.html")$</div>
    <div class="grid post">
        $body$
    </div>
</div>
<footer class="grid footer">
    $partial("templates/footer.html")$
</footer>
</body>
</html>

